body {
	background-image: url("dog.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat:no-repeat;
}

h1 {
	position: fixed;
	top: 25px;
	left: 60%;
	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 20px;
    text-transform: uppercase;
    width: 800px;
}

h2 {
	position: fixed;
	top: 80px;
	left: 60%;
	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 800px;
    font-size: 15px;
}

ul {
	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 800px;
    font-size: 15px;
}

li {
	display: inline-block;
	padding: none;
	margin: none;
	padding-left: 25px;
}


#footer {
	position: fixed;
	bottom: 0;
	left: 60%;
	right: 0;
	height: 40px
}

.container {
	background: rgba(169,169,169, 0.7);
	margin-top: 200px;
	margin-right: 50px;
	float: right;
	width: 400px;
	height: 100%;
	border-radius: 25px;
	padding: 10px;

}

p {
	color: white;
}

